<section id="section-loginPage" class="box">

    <div class="row">
        <div class="column column-67 hidden-mobile">
            <img src="/assets/bunny.png">
        </div>

        <div class="column">
            <form method="post" action="/login">
                <fieldset>
                    <label for="nameField"><i class="fa fa-sign-in"></i>&nbsp;Username</label>
                    <input type="text" placeholder="player1" id="nameField" name="username">
                    <label for="passwordField"><i class="fa fa-key"></i>&nbsp;Password</label>
                    <input type="text" placeholder="********" id="passwordField" name="password">
                    <button ng-click="signin()" class="button pull-right" type="submit">Login</button>
                </fieldset>
            </form>
        </div>
    </div>

</section>
