<section id="section-home">
    <div class="row">
        <div class="col col-sm-3 col-md-2">
            <div ng-if="currentUser">

                <h4>Welcome, {{currentUser().username}}<small><a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></small></h4>
                </ul>
            </div>
            <pp-nav></pp-nav>
        </div>
        <div class="col col-sm-9 col-md-10">
            <notifications-bar class="notifications" closeIcon="fa fa-times-circle"></notifications-bar>
            <ui-view></ui-view>
        </div>
    </div>
</section>