<!DOCTYPE html>
<html>
<head>
    <title>Basic Template</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Heebo" rel="stylesheet">

    <link rel="stylesheet" href="/content/kube/kube.css">
    <link rel="stylesheet" href="/content/site/style/main.css">
    <link rel="stylesheet" href="/content/site/style/login.css">

    <script src="https://use.fontawesome.com/d49caf12d2.js"></script>
</head>

<body ng-app="pixelPets" ng-controller="ApplicationController">
  
  
    <div class="navbar">
      <div class="container">
        <span class="brand">Pixel Pets</span>
        <div ng-if="currentUser" class="pull-right">Welcome, {{currentUser.name}}
        <a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    
    <ui-view></ui-view>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/content/kube/kube.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://npmcdn.com/angular-ui-router@1.0.0-beta.2/release/angular-ui-router.min.js"></script>
    
    <script src="/app.js"></script>
    
    <script src="/scripts/AuthService.js"></script>
    <script src="/scripts/Session.js"></script>
    <script src="/scripts/AuthInterceptor.js"></script>
    <script src="/views/login/loginController.js"></script>
    
</body>
</html>