<div class="panel panel-default" ng-if="eggs">
    <div class="panel-heading">
        <h4 class="panel-title"><span class="label label-info">Hey!</span> You have eggs to hatch!<span class="hidden-xs"> I wonder what is inside.</span></h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3" ng-repeat="egg in eggs">
                <div>
                    <img ng-click="hatch(egg._id)" class="clickable img-responsive center-block" ng-src="/pets/{{egg.image}}">
                </div>
                <button ng-click="hatch(egg._id)" class="btn btn-link center-block">Hatch</button>
            </div>
        </div>
    </div>

</div>

<div class=" panel panel-default ">
    <div class="panel-body ">
        <div class="row ">
            <div class="col col-xs-12 col-sm-10 col-md-7 " ng-repeat="pet in pets ">

                <div class="media">
                    <div class="media-left">

                        <img ng-src="pets/{{pet.image}}" class="media-object pet pet-thumbnail">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{pet.name}}</h4>
                        <p>{{pet.name}} was born on&nbsp;<span>{{pet.hatched_at | amDateFormat:'MMM Do YYYY'}}</span> &nbsp;and is <span>{{pet.hatched_at | amUtc | amLocal | amDifference : null : 'days' | amDurationFormat :"day"}}</span> old.</p>
                        <p></p>
                    </div>
                </div>

                <!--
                <h3 class="pet pet-name text-center"></h3>

                <div class="center-block">
                    <div>
                        <span class="text-muted">Age</span>

                    </div>
                    <div>
                        <span class="text-muted">Health</span>
                        <span>Good</span>
                    </div>
                    <div>
                        <span class="text-muted">Happiness</span>
                        <span>Great</span>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>