<div class="panel panel-default" ng-if="eggs">
    <div class="panel-heading">
        <h4 class="panel-title"><span class="label label-info">Hey!</span> You have eggs to hatch!<span class="hidden-xs"> I wonder what is inside.</span></h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3" ng-repeat="egg in eggs">
                <div>
                    <img ng-click="hatch(egg._id)" class="clickable img-responsive center-block" ng-src="/pets/{{egg.image}}">
                </div>
                <button ng-click="hatch(egg._id)" class="btn btn-link center-block">Hatch</button>
            </div>
        </div>
    </div>

</div>

<div class=" panel panel-default ">
    <div class="panel-body ">
        <div class="row ">
            <div class="col col-sm-6 " ng-repeat="pet in pets ">
                <h3 class="pet name text-center">{{pet.name}}</h3>
                <img ng-src="pets/{{pet.image}} " class="img-responsive center-block ">
                <div class="center-block">
                    <div>
                        <span class="text-muted">Age</span>
                        <span>{{pet.hatched_at | amUtc | amLocal | amDifference : null : 'days' | amDurationFormat :"day"}}</span>
                    </div>
                    <div>
                        <span class="text-muted">Health</span>
                        <span>Good</span>
                    </div>
                    <div>
                        <span class="text-muted">Happiness</span>
                        <span>Great</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>