<div class="panel panel-default" ng-if="eggs">
    <div class="panel-heading">
        <h4 class="panel-title"><span class="label label-info">Hey!</span> You have eggs to hatch!<span class="hidden-xs"> I wonder what is inside.</span></h4>
    </div>

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3" ng-repeat="egg in eggs">
                <div>
                    <img ng-click="hatch(egg._id)" class="clickable img-responsive center-block" ng-src="/pets/{{egg.image}}">
                </div>
                <button ng-click="hatch(egg._id)" class="btn btn-link center-block">Hatch</button>
            </div>
        </div>
    </div>

</div>

<div class="alert alert-info" ng-hide="isPetAssigned()">
    You haven't chosen a pet to play with. You should do that now.
</div>

<div class=" panel panel-default ">
    <div class="panel-body ">
        <div class="row ">
            <div class="col col-sm-7 col-md-5">
                <div ng-show="activePet()">
                    <h3 class="text-center">{{activePet().name}}</h3>
                    <img ng-src="pets/{{activePet().image}}" class="img-responsive center-block">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Born:</strong> {{activePet().hatched_at | amDateFormat:'MMM Do YYYY'}}</li>
                        <li class="list-group-item"><strong>Age:</strong> {{activePet().hatched_at | amUtc | amLocal | amDifference : null : 'days' | amDurationFormat :"day"}}</li>
                        <li class="list-group-item"><strong>Health:</strong> Good</li>
                        <li class="list-group-item"><strong>Status:</strong> Happy</li>
                    </ul>
                </div>
            </div>

            <div class="col col-sm-4 col-sm-offset-1 col-md-6">
                <div class="media" ng-hide="pet._id == currentUser.active_pet" ng-repeat="pet in pets">
                    <div class="media-left">
                        <button ng-click="setActivePet(pet._id)" class='btn btn-xs btn-link visible-sm'>Choose {{pet.name}}</button>
                        <img ng-src="pets/{{pet.image}}" class="media-object pet pet-thumbnail">
                    </div>
                    <div class="media-body hidden-sm">
                        <!--<h4 class="media-heading">{{pet.name}}</h4>-->
                        <p>
                            <strong>{{pet.name}}</strong> was born on&nbsp;
                            <span>{{pet.hatched_at | amDateFormat:'MMM Do YYYY'}}</span>&nbsp;and is&nbsp;
                            <span>{{pet.hatched_at | amUtc | amLocal | amDifference : null : 'days' | amDurationFormat :"day"}}</span>&nbsp;old.
                        </p>
                        <p>
                            <button ng-click="setActivePet(pet._id)" class='btn btn-xs btn-link'>Choose {{pet.name}}</button>
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<span class="visible-xs">x-small</span>
<span class="visible-sm">small</span>
<span class="visible-md">medium</span>
<span class="visible-lg">large</span>