@import 'variables';
body {
    background-color: #f2f5f7;
}

.navbar {
    background-color: #724882;
    height: 80px;
    color: $default-color;
    padding: 10px;
    margin-bottom: 10px;
    .brand {
        color: #fff;
        font-size: 2.5rem;
        display: inline-block;
    }
    a,
    a:visited {
        color: $highlight-color;
    }
    a:hover {
        color: $default-color;
    }
}

a {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
}

input[type='text'],
input[type='password'] {
    background-color: #fff;
}

nav {
    a {
        display: block;
        padding: 8px 0 8px 16px;
        font-size: 1.5rem;
    }
    a.active {
        background-color: $hover-color;
        color: #fff;
    }
}

.text-center {
    text-align: center;
}

.text-error {
    color: $error-color;
}

.text-small {
    font-size: 1.3rem;
}

.text-largest {
    font-size: 3rem;
}

.text-large {
    font-size: 2.2rem;
}

.text-muted {
    color: $neutral-color;
}

.center {
    margin: 0 auto;
    display: block;
}

@media(max-width: 40rem) {
    /* mobile only */
    .hidden-mobile {
        display: none!important;
    }
}

@media(max-width: 60rem) {
    //tablet (or smaller)
    .hidden-tablet {
        display: none!important;
    }
}