<section id="section-loginPage">
  <div class="row centered">
    <div class="col col-8">
      <div class="row">
        <div class="col col-7">
          <figure>
            <img src="https://cdn.hyperdev.com/us-east-1%3A85b909a7-66f0-4aab-bd85-07d3bd6ac59a%2Fbunny.png">
          </figure>
        </div>
        <div class="col col-5">
          <h2>Sign in</h2>
          <form class="form">
            <div class="form-item">
                <label class="muted">Enter your email address</label>
                <div class="controls width-100">
                  <span><i class="fa fa-user" aria-hidden="true"></i></span>
                  <input type="text">
                </div>
                
            </div>
        
            <div class="form-item">
                <label class="muted">Enter your password</label>
                <div class="controls width-100">
                  <span><i class="fa fa-key" aria-hidden="true"></i></span>
                  <input type="password">
                </div>
            </div>
            
            <div class="form-item">
              <button class="button float-right" ng-click="signin()">Sign in</button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </div>
 </section>