/*
primary:#724882
success:#88A825
warning:#CF4A30
error:#911146
highlight:#ED8C2B
default:#eee
*/

body{
  background-color:#f5f8fa;
  
}

#section-main{
  margin:auto;
  max-width:1128px;
}

#main-sidebar{
  flex:0 0 200px;
}

.navbar{
  background-color:#724882;
  height:80px;
  color:#eee;
  padding:10px;
}

.navbar .brand{
  color:#fff;
  font-size:1.8em;
  
  display:inline-block;
  
}

.navbar a, .navbar a:visited{
  color:#ED8C2B;
}
.navbar a:hover{
  color:#eee;
}


.container{
  margin:0 50px;
}


a{
  cursor:pointer;
}